.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hiiden;
  border: 0;
  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.hero .container {
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  margin-top: 0px;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #2196f3;
  text-decoration: none;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.header__logo--color1 {
  color: #212121;
}

.footer__logo--color2 {
  color: #fff;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}
.backdrop.is-hidden .modal-window {
  transform: scale(0) rotateY(-180deg);
  transform: rotateX 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: 1px solid transparent;
}
.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal-form-title {
    line-height: 1.5;
  }
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}
.modal-form-comment {
  margin-bottom: 20px;
}
.modal-form-msg {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-msg:focus {
  outline: none;
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form-policy:focus + .modal-form-policy-txt:before {
  outline: #2196f3 auto 2px;
}
.modal-form-policy-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal-form-policy-txt {
    font-size: 12px;
  }
}
.modal-form-policy-txt::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  margin-right: 8px;
  border-radius: 2px;
}
.modal-form-policy:checked + .modal-form-policy-txt::before {
  background-color: #2196f3;
  border: 0px #2196f3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-email-field:focus {
  outline: none;
  border-color: #2196f3;
  cursor: pointer;
}

.close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover, .close-btn:focus {
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-policy-link {
  margin-bottom: 0px;
  margin-left: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  text-decoration-skip-ink: none;
  color: #2196f3;
}
@media screen and (max-width: 1199px) {
  .modal-policy-link {
    font-size: 12px;
  }
}

.chek-policy-box {
  display: flex;
  justify-content: center;
}

.form input:not(:placeholder-shown) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}
.buttons-list-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  min-width: 73px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list-item:hover, .buttons-list-item:focus {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-current {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-primary-color);
  text-decoration: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  min-width: 73px;
  padding: 6px 22px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.portfolio-buttons {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio-buttons {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-buttons-list-point:not(:last-child) {
  margin-right: 8px;
}
.portfolio-buttons-list-point:nth-last-child(n+3) {
  margin-bottom: 15px;
}

.current-filter {
  background: #2196f3;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio-list, .portfolio-list-type {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-list-type {
  margin-bottom: 4px;
}
.portfolio-list-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
.portfolio-list-item {
  align-items: center;
}
@media screen and (max-width: 767px) {
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list-item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-set li:nth-last-child(n) {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card-set li:nth-last-child(-n+2) {
    flex-basis: 370px;
  }
}
@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio-card-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
  width: 100%;
  flex-grow: 1;
}

.portfolio-card-link {
  display: flex;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  flex-direction: column;
  height: 100%;
}
.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.menu-button {
  display: inline-flex;
  align-items: center;
  padding: 0;
  border: 0;
  background-color: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-btn-open:hover,
.menu-btn-open:focus,
.menu-btn-close:hover,
.menu-btn-close:focus {
  fill: #2196f3;
}

.menu-btn-close {
  display: block;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
}

.menu-btn-open {
  top: 10px;
  right: 15px;
  padding: 0;
}

.header {
  position: relative;
  background-color: #fff;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}
.header__logo {
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    padding: 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header-address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-address {
    display: inline-flex;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__list--item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-address__list {
    display: flex;
  }
  .header-address__list--item:not(:last-child) {
    margin-right: 50px;
  }
}
.header-address__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header-address__link {
    padding: 32px 0px;
  }
}
.header-address__link:focus, .header-address__link:hover {
  color: #2196f3;
}

.header-address__mail {
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__mail {
    padding-top: 20px;
  }
}

.header-address__tel {
  color: #757575;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-address__tel {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    border-bottom: 1px solid #ECECEC;
  }
}

.address {
  font-style: normal;
}
.address-links {
  display: flex;
}
.address-icon {
  margin-right: 8px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .address-icon {
    margin-right: 10px;
  }
}

.mob-menu {
  position: fixed;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 5;
  transition: all 250ms linear;
  padding: 48px 40px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mob-menu-top {
  margin-bottom: auto;
}

.mob-menu-list-item {
  font-size: 40px;
  line-height: 1.17;
  position: relative;
}
.mob-menu-list-item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .mob-menu-list-item {
    padding: 0;
  }
  .mob-menu-list-item:not(:first-child) {
    margin-left: 50px;
  }
}

.mob-menu-list-link {
  display: block;
  text-decoration: none;
  padding: 0;
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-list-link:hover, .mob-menu-list-link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .mob-menu-list-link {
    padding: 32px 0;
  }
}
@media screen and (max-width: 767px) {
  .mob-menu-list-link {
    font-size: 40px;
    line-height: 1.17;
  }
}

.mob-menu-address-list {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 64px;
}
@media screen and (max-width: 767px) {
  .mob-menu-address-list .mob-menu-address-icon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .mob-menu-address-list-item:not(:first-child) {
    margin-left: 30px;
  }
}

.mob-menu-address-link {
  font-size: 34px;
  line-height: 1.16;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu-address-link:focus, .mob-menu-address-link:hover {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .mob-menu-mail {
    font-size: 24px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu-mail {
    padding-top: 21px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .mob-menu-tel {
    font-size: 23px;
  }
}
@media screen and (max-width: 767px) {
  .mob-menu-tel {
    color: var(--accent-color);
    display: block;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu-tel {
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu-tel {
    padding-bottom: 32px;
  }
}

.mob-menu-address-list {
  margin-bottom: 64px;
}

.mob-social-list {
  display: flex;
  flex-wrap: wrap;
}
.mob-social-list-item {
  padding-right: 10px;
}
.mob-social-list-item:not(:first-child) {
  padding-left: 10px;
}
.mob-social-list-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-social-list-item:nth-last-child(n+1) {
  margin-bottom: 10px;
}
.mob-social-list-link {
  color: #2196f3;
  text-decoration: none;
  font-size: 18px;
  line-height: 104%;
  font-weight: 700;
}
.mob-social-list-link:hover, .mob-social-list-link:focus {
  color: #AFB1B8;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-menu-bottom {
    margin-bottom: auto;
  }
}
.mob-menu-bottom:hover, .mob-menu-bottom:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
  }
}
.nav-list .current {
  color: #2196f3;
}
.nav-list__item:not(:first-child) {
  margin-left: 52px;
}
.nav-list__item {
  position: relative;
}
.nav-list__item .nav-list__link--current::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}
.nav-list__link {
  color: #212121;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: #2196f3;
}
.nav-list__link--current {
  color: #2196f3;
}

.contacts-color {
  color: #757575;
}

.contacts-color2 {
  color: #2196f3;
}

.hero {
  background: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  padding: 118px 0;
  max-width: 480px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-mob.jpg");
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-mob@2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    height: 400px;
    max-width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero {
    max-width: 100%;
  }
}
.hero .container {
  flex-direction: column;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero .container {
    max-width: 696px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-desktop.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/main/hero/hero-desktop@2x.jpg");
  }
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 768px) {
  .hero__button {
    height: 50px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .features-set li:nth-last-child(-n+4) {
    flex-basis: 270px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-set li:nth-last-child(-n+4) {
    flex-basis: 354px;
  }
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
}
.features__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    margin: 15px;
  }
}
.features-list .features-list__item--title {
  margin-bottom: 10px;
  margin-top: 0px;
}
.features-list__item--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .features-list__item--title {
    text-align: center;
  }
}

.our-work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-work {
    display: flex;
    text-align: center;
    padding-bottom: 94px;
  }
}
.our-work .container {
  flex-direction: column;
}
.our-work-list {
  display: flex;
}
.our-work-list__item:not(:last-child) {
  margin-right: 30px;
}

.our-work-list__item {
  position: relative;
}

.our-work-list__decription {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  color: #fff;
  color: rgb(255, 255, 255);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

.our-team {
  background-color: #F5F4FA;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-team .container {
  flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list--set li:nth-last-child(-n+4) {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .our-team-list--set li:nth-last-child(-n+4) {
    flex-basis: 270px;
  }
}
.our-team-list__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .our-team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list__item {
    margin: 15px;
  }
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.our-team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.our-team__title {
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .our-team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team-list {
    display: flex;
  }
  .our-team-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__images {
  width: 100%;
  justify-content: center;
}

.card-description {
  padding: 30px;
}
@media screen and (max-width: 1199px) {
  .card-description {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .card-description {
    padding-bottom: 30px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #fff;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card-set li:nth-last-child(-n+6) {
    flex-basis: 226px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card-set {
    column-gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-card-set li:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-card-set li:nth-last-child(-n+6) {
    flex-basis: 170px;
  }
}
@media screen and (min-width: 768px) {
  .clients-card-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients-list {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .clients-list {
    margin-top: -30px;
    margin-left: -30px;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border-color: currentColor;
}
.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    flex-basis: calc(50% - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item li:nth-child(3n) {
    margin-right: 0px;
  }
}

.footer {
  background: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}
.footer__logo {
  margin: 0;
}
.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-flex;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #fff;
  background: #2196f3;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: 1px solid transparent;
  margin-top: 20px;
}
@media screen and (min-width: 480px) {
  .footer-button {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-button {
    margin-top: 0;
    margin-left: 12px;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-social-list {
    justify-content: space-between;
  }
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover, .footer-social-list-link:focus {
  background-color: #2196f3;
}
.footer-social-list__icon {
  width: 20px;
  height: 20px;
}
.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}
.footer-address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address-list__link:hover, .footer-address-list__link:focus {
  color: #2196f3;
}

.footer-address__street {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address__street {
    margin-bottom: 9px;
  }
}

.footer-address-list__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-container {
  display: flex;
}

.footer-address-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrap-right {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-box {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer-social-box {
    flex-direction: column;
  }
  .footer-social-box:not(:last-child) {
    margin-bottom: 60px;
  }
}

.follow-us {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .follow-us {
    text-align-last: left;
  }
}

.form {
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .form-position {
    display: flex;
  }
}
.form-email-field {
  font-weight: 400;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 480px) {
  .form-email-field {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-email-field {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .form-email-field {
    width: 358px;
  }
}

.icon-send {
  margin-left: 10px;
}

.overlay {
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;
  max-width: 100%;
  top: 0;
  left: 0;
  transition: transform 250ms linear;
  transform: translateY(100%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay {
    padding: 49px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
  }
}
.portfolio-card-link:hover .overlay, .portfolio-card-link:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-list-item-img-overlay {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  .portfolio-list-item-img-overlay {
    overflow: scroll;
  }
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms linear;
  padding: 40px;
}
@media screen and (max-width: 479px) {
  .modal-window {
    width: 98%;
  }
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 455px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}/*# sourceMappingURL=main.css.map */