.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hiiden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*:root {
    --primary-text-color: #212121;
    --accent-color: #2196f3;
    --second-color: #757575;
    --color-icon: #AFB1B8;
    --bg-color-main: #f5f5f5;
    --bg-color-second: #ffffff;
    --bg-for-button: #f5f4fa;
    --bg-for-footer: #2f303a;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font: "Roboto", sans-serif;
  }*/
a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.hero .container {
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    align-items: baseline;
  }
}

/*width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  .header__container {
    display: flex;
    align-items: center;
  }

  .footer__container {
    display: flex;
    align-items: baseline;
  }
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
  &--no-padding-top {
    align-items: center;
    padding-top: 0px;
  }
  &--other-background {
    background-color: $bg-for-button;
}
}*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--no-padding-top {
  align-items: center;
  padding-top: 0px;
}
.section--other-background {
  background-color: #f5f4fa;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}
.logo__color1 {
  color: #212121;
}
.logo__color2 {
  color: #ffffff;
}

.header__logo {
  margin-right: 93px;
  padding: 24px 0px;
}

.footer__logo {
  margin-right: 0px;
  padding: 0px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}
.backdrop.is-hidden .modal-window {
  transform: scale(0) rotateY(-180deg);
  transform: rotateX 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
@media screen and (max-width: 1199px) {
  .modal-form-title {
    line-height: 1.5;
  }
}
.modal-form-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}
.modal-form-field {
  margin-bottom: 10px;
}
.modal-form-comment {
  margin-bottom: 20px;
}
.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}
.modal-form-msg {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-msg:focus {
  outline: none;
  border: 1px solid;
  border-color: #2196f3;
  cursor: pointer;
}
.modal-form-policy-txt::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  margin-right: 7px;
  border-radius: 2px;
}
.modal-form-policy:checked + .modal-form-policy-txt::before {
  background-color: #2196f3;
  border: 0px #2196f3;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-policy:focus + .modal-form-policy-txt::before {
  outline: #2196f3 auto 2px;
}
.modal-form-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}
.modal-form-policy-txt,
.modal-form .modal-policy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form .modal-policy-link {
  margin-bottom: 0px;
  text-decoration-skip-ink: none;
  color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 7px;
}
@media screen and (max-width: 1199px) {
  .modal-form .modal-policy-link {
    font-size: 12px;
  }
}
.modal-form .chek-policy-box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 52px;
  border: 1px solid transparent;
}
.modal-form .form input:not(:placeholder-shown) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.close {
  fill: #000000;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close, .close-btn:focus .close {
  fill: #2196f3;
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover {
  background-color: #f5f5f5;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

button {
  font-family: inherit;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover, button:active, button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons-list {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}
.buttons-list__point:not(:last-child) {
  margin-right: 9px;
}
.buttons-list__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  min-width: 73px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-list__item:hover, .buttons-list__item:focus,
.buttons-list__item .btn-current {
  background: #2196f3;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-current {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-decoration: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  min-width: 73px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  align-content: center;
}

.portfolio-list__item {
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card__description {
  padding: 20px 20px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-card__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
  margin-bottom: 4px;
}

.portfolio-card__type {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 50px;
  padding-top: 32;
  padding-bottom: 32;
  align-items: center;
}
.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.menu__link:hover, .menu__link:focus, .menu__link:active {
  color: #2196f3;
}
.menu__link--current {
  color: #2196f3;
}
.menu__link--current::after {
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgb(33, 150, 243);
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: #2196f3;
}
.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  /* or 136% */
  letter-spacing: 0.06em;
  max-width: 696px;
  text-align: center;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
}
.hero__button {
  font-family: inherit;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.features-list {
  display: flex;
  column-gap: 30px;
  justify-content: space-around;
}
.features-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-list__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.features-list__icon {
  width: 70px;
  height: 70px;
}
.features-list li:nth-last-child(-n+4) {
  flex-basis: 270px;
}

.features__description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;
}

.service {
  display: flex;
  column-gap: 30px;
}
.service__item {
  position: relative;
}
.service__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  column-gap: 30px;
}
.team-list__item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__card {
  padding: 30px;
}
.team-list__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list__item {
  list-style: none;
  width: 44px;
  height: 44px;
}
.social-list__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  color: #f5f5f5;
}
.social-list__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-list__item {
  height: 90px;
  width: calc(16.6666666667% - 30px);
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-address {
  margin-top: 20px;
}
.footer-address__item {
  margin-bottom: 9px;
}
.footer-address__street {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.footer-address__email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-form {
  display: flex;
}
.footer-social-box {
  margin-left: 0px;
}
.footer-social__item {
  width: 44px;
  height: 44px;
}
.footer-social__item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-list {
  display: flex;
}
.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: #2196f3;
}
.footer-social-list__icon {
  width: 20px;
  height: 20px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer-address-container {
  margin-right: 70px;
  flex-grow: 1;
}
.footer-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  border: 1px solid transparent;
  margin-left: 12px;
}
.footer__logo {
  margin-right: 0px;
  padding: 0px;
}

.follow-us {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: normal;
  text-transform: uppercase;
}

.form {
  margin-left: 93px;
}
.form-position {
  display: flex;
}
.form-email-field {
  font-weight: 400;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.icon-send {
  margin-left: 10px;
}

.overlay {
  position: absolute;
  color: #ffffff;
  background-color: #2196f3;
  padding: 63px 24px;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 250ms linear;
  transform: translateY(100%);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
}
.portfolio-card__link:hover .overlay, .portfolio-card__link:focus .overlay {
  transform: translateY(0%);
  opacity: 1;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #f5f5f5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms linear;
  padding: 40px 39px 40px 41px;
}/*# sourceMappingURL=main.css.map */