.features {

    padding-top: 60px;
    padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

    &-set li:nth-last-child(-n + 4) {
      flex-basis: 270px;
  }
}

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &-set li:nth-last-child(-n + 4) {
   flex-basis: 354px;
 } 
 }

  &__icon {
    width: 70px;
    height: 70px;

    &-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px;
      margin-bottom: 30px;
      background-color: #F5F4FA;
      border-radius: 4px;
    
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}


.features-list {
  

  @media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-wrap: wrap;
    justify-content: center;

		margin: -15px;
		
	}

	@media screen and (min-width: 1200px) {
		display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
	}


  &__item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px; 
      }
      
    }
     
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      & {
        margin: 15px;
      }
    }
  
  }
  
  & &__item--title {
    margin-bottom: 10px;
    margin-top: 0px;
  }

  &__item--title {
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-primary-color;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}



.our-work {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    padding-bottom: 94px;
  }

  .container {
  
     flex-direction: column;
  
  }

  &-list {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 30px;
  }
  }
}

.our-work-list__item {
  position: relative;
}

.our-work-list__decription {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 70px;
  color: $title-secondary-color;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  position: absolute;
  width: 100%;
  bottom: 0; 
  display: flex;
  align-items: center;
  
}


