.hero {
  background: #2f303a;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  

  padding: 118px 0;
  max-width: 480px;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/main/hero/hero-mob.jpg");

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/main/hero/hero-mob@2x.jpg");

    
  }
  @media screen and (max-width: 1199px) {
    height: 400px;
    max-width: 100%;
    
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    max-width: 100%;
  }

  .container { 
    flex-direction: column;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    
    max-width: 360px;

@media screen and (min-width: 1200px) {
  max-width: 696px;
  
  
}
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    display: flex;
    align-items: center;
  }


	@media screen and (min-width: 769px) {
		
		max-width: 1600px;
    
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../images/main/hero/hero-desktop.jpg");

		@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../images/main/hero/hero-desktop@2x.jpg");
		}
	}
  }
  
  .hero__button {
  padding: 10px 32px;
  min-width: 200px;
  justify-content: center;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: $title-secondary-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    height: 50px;
  }
  }
  
  
  .hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    color: $title-secondary-color;
    text-transform: uppercase;
    
   
  
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      
    }
  
    }
  
  