.modal-window {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background: $title-secondary-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 500ms linear;
    padding: 40px;


    @media screen and (max-width: 479px)  {
    width: 98%;
    padding: 50px;
    }

    @media screen and (min-width: 480px)  {
      width: 455px;
      height: 609px;
      }

   
  
    @media screen and (min-width: 1200px) {
      width: 528px;
      height: 581px;
    }
  }