.overlay {
  position: absolute;
  color: $bg-color-second;
  background-color: $accent-color;
  padding: 63px 24px;
  width: 100%;
  top: 0;
  left: 0;

  transition: transform 250ms linear;
  transform: translateY(100%);

  font-family: $main-font;
  font-size: 18px;
  line-height: 1.56;

  .portfolio-card__link:hover &,
  .portfolio-card__link:focus & {
    transform: translateY(0%);
    opacity: 1;
  }
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
