

.our-team {
  background-color: #F5F4FA;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
 
  .container {
    flex-direction: column;
 
 }
  
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      &-list--set li:nth-last-child(-n + 4) {
     flex-basis: 354px;
   } 
   }
  

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

    &-list--set li:nth-last-child(-n + 4) {
      flex-basis: 270px;
  }
  }
 
  &-list__item {
  
    background-color: $title-secondary-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px; 
      }

  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      margin: 15px;
    }
  }

  }


  &__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $title-primary-color;
  margin-bottom: 10px;
  }

  &__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  margin-bottom: 16px;

  }
}


.our-team__title {
  margin-top: 0;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
		margin-bottom: 50px;
	}
}

.our-team-list {
  
  
  @media screen and (min-width: 768px) and (max-width: 1199px) {
		display: flex;
		flex-wrap: wrap;
    justify-content: center;

		margin: -15px;
		// margin-bottom: 0;
	}


  @media screen and (min-width: 1200px) {
    display: flex;
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.our-team__images {
  width: 100%;
  justify-content: center;
}

.card-description {
  // padding: 32px;
  padding: 30px;

  @media screen and (max-width: 1199px) {
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }

}

.social-list { 
  // text-align: center;
  display: flex;
  justify-content: center; 
    
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $color-icon;
    transition: color 250ms $timing-function,  background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color:  $accent-color;
    color: $title-secondary-color;
  }
        }

  &__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
        }
}


.social-list__item:not(:last-child) {
  margin-right: 10px;
}





