.backdrop  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 500ms linear;

    &.is-hidden .modal-window  {
    transform: scale(0) rotateY(-180deg);
    transform: rotateX (0);
  }
  }

  