

.buttons-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }

    @media screen and (min-width: 768px) {
      justify-content: center;
    }
     
     &-item {
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.63;
      text-align: center;
      letter-spacing: 0.03em;
      color: $title-primary-color;
      text-decoration: none;
      background-color: #f5f4fa;
      border-radius: 4px;
      border: 0px;
      min-width: 73px;
      padding: 6px 22px; 
     
      transition: color 250ms $timing-function, background-color 250ms $timing-function, box-shadow 250ms $timing-function;
      
     


      &:hover,
      &:focus {
        background: $accent-color;
        color: $title-secondary-color;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
      }
    }
  
  }

  
  .btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;

   &-current {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-primary-color);
    text-decoration: none;
    background-color: #f5f4fa;
    border-radius: 4px;
    border: 0px;
    min-width: 73px;
    padding: 6px 22px;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
    
  }
}
 
  
  .portfolio-buttons {
    padding-top: 60px;
    padding-bottom: 60px;
    
    
    @media screen and (min-width: 768px) {
     padding-top: 94px;
    padding-bottom: 94px; 
    }
    

   &-list-point:not(:last-child) {
  margin-right: 8px;  
  }

  &-list-point:nth-last-child(n+3) {
    margin-bottom: 15px;
  }
  }

  .current-filter {
    background: $accent-color;
    color: $title-secondary-color;
   }