// button {
//   font-family: inherit;
//   color: $primary-text-color;
//   background-color: $bg-for-button;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.625;
//   text-align: center;
//   letter-spacing: 0.03em;
//   cursor: pointer;
//   transition: color 250ms $timing-function, background-color 250ms $timing-function;
//   &:hover,
//   &:active,
//   &:focus {
//     color: $bg-color-second;
//     background-color: $accent-color;
//   }
// }

.buttons-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &__point:not(:last-child) {
    margin-right: 9px;
  }
  &__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    text-decoration: none;
    background-color: $bg-for-button;
    border-radius: 4px;
    border: 0px;
    min-width: 73px;
    padding: 6px 22px;
    transition: color 250ms $timing-function, background-color 250ms $timing-function,
      filter 250ms $timing-function;

    &:hover,
    &:focus,
    .btn-current {
      background: $accent-color;
      color: $bg-color-second;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &-current {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    text-decoration: none;
    background-color: $bg-for-button;
    border-radius: 4px;
    border: 0px;
    min-width: 73px;
    padding: 6px 22px;
    transition: color 250ms $timing-function, background-color 250ms $timing-function,
      filter 250ms $timing-function;
  }
}
