.logo {
  color: $accent-color;
  text-decoration: none;
  font-family: $main-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
  }

  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }

  &__color1 {
    color: $primary-text-color;
  }
  &__color2 {
    color: $bg-color-second;
  }
}

// .header__logo {
//   margin-right: 93px;
//   padding: 24px 0px;
 
// }

// .footer__logo {
//   margin-right: 0px;
//   padding: 0px;}


