.modal-form {
  display: flex;
  flex-direction: column;

  &-title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 12px;
    @media screen and (max-width: 1199px) {
      line-height: 1.5;
    }
  }

  &-icon {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms $timing-function;
  }

  &-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms $timing-function;
    &:focus {
      outline: none;
      border: 1px solid;
      border-color: $accent-color;
      cursor: pointer;
    }

    &-wrapper {
      position: relative;
      display: block;
      margin-top: 4px;
    }
  }

  &-field {
    margin-bottom: 10px;
  }

  &-comment {
    margin-bottom: 20px;
  }

  &-input:focus + &-icon {
    fill: $accent-color;
  }

  &-msg {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    transition: border-color 250ms $timing-function;

    &:focus {
      outline: none;
      border: 1px solid;
      border-color: $accent-color;
      cursor: pointer;
    }
  }

  &-policy-txt::before {
    content: '';
    display: inline-flex;
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    margin-right: 7px;
    border-radius: 2px;
    
  }

  &-policy:checked + &-policy-txt::before {
    background-color: $accent-color;
    border: 0px $accent-color;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    transition: all 250ms $timing-function;
  }

  &-policy:focus + &-policy-txt::before {
    outline: $accent-color auto 2px;
  }

  &-text {
    font-family: $main-font;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);
  }

  &-policy-txt,
  .modal-policy-link {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $main-font;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
    transition: all 250ms $timing-function;
   
  }

  .modal-policy-link {
    margin-bottom: 0px;
    text-decoration-skip-ink: none;
    color: $accent-color;
    transition: all 250ms $timing-function;
    margin-left: 7px;
    @media screen and (max-width: 1199px) {
      font-size: 12px;
    }
  }

  .chek-policy-box {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  &-btn {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: $bg-color-second;
    min-width: 200px;
    height: 50px;
    cursor: pointer;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    border: 1px solid transparent;
  }

  .form input:not(:placeholder-shown) {
    font-family: $main-font;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.close {
  fill: #000000;
  width: 18px;
  height: 18px;
  transition: fill 250ms $timing-function;

  .close-btn:hover &,
  .close-btn:focus & {
    fill: $accent-color;
  }

  &-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $bg-color-main;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms $timing-function, fill 250ms $timing-function;
    &:hover {
      background-color: $bg-color-main;
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
