
.section {
    padding-top: 60px;
        padding-bottom: 60px;
    
      @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
}
}
.section-no-padding-top {
    
        display: none;
      
        @media screen and (min-width: 1200px) {
          display: flex;
          text-align: center;
          padding-bottom: 94px;
          padding-top: 0;
          
        }
      
        .container {
        
           flex-direction: column;
        
        }}



.section--other-background {
    
    background-color: #F5F4FA;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
   
    .container {
      flex-direction: column;
   
   }
    
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        &-list--set li:nth-last-child(-n + 4) {
       flex-basis: 354px;
     } 
     }
    
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
}
}



.our-work {
    display: none;
  
    @media screen and (min-width: 1200px) {
      display: flex;
      text-align: center;
      padding-bottom: 94px;
    }
  
    .container {
    
       flex-direction: column;
    
    }}

    .features {

        padding-top: 60px;
        padding-bottom: 60px;
    
      @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    
        &-set li:nth-last-child(-n + 4) {
          flex-basis: 270px;
      }
    }
    
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        &-set li:nth-last-child(-n + 4) {
       flex-basis: 354px;
     } 
     }}


     .our-team {
        background-color: #F5F4FA;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
       
        .container {
          flex-direction: column;
       
       }
        
          @media screen and (min-width: 768px) and (max-width: 1199px) {
            &-list--set li:nth-last-child(-n + 4) {
           flex-basis: 354px;
         } 
         }
        
      
        @media screen and (min-width: 1200px) {
          padding-top: 94px;
          padding-bottom: 94px;
      
          &-list--set li:nth-last-child(-n + 4) {
            flex-basis: 270px;
        }
        }}


    //  .clients {
    //     padding-top: 60px;
    //       padding-bottom: 60px;
      
    //       @media screen and (min-width: 1200px) {
    //          padding-top: 94px;
    //          padding-bottom: 94px;
    //       } 
      
    //     }