.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
  &--no-padding-top {
    align-items: center;
    padding-top: 0px;
  }
  &--other-background {
    background-color: $bg-for-button;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}
