.link {
  text-decoration: none;
}
html {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: $main-font;
  font-style: normal;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
}
