
    $main-font: "Roboto", sans-serif;
    $secondary-font: "Raleway", sans-serif;
    $primary-text-color: #757575;
    $accent-color: #2196f3;
    $title-primary-color: #212121;
    $title-secondary-color: #fff;
    $color-icon: #AFB1B8;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // $a: text-decoration: none;
    
  